.hlx/*
coverage/*
logs/*
node_modules/*
package-lock.json

helix-importer-ui
.DS_Store
*.bak
.idea/*
.iml/*
.vscode/*
.DS_Store
*/.DS_Store
*/*/.DS_Store
# ESLint Config Files
eslint.config.js
eslint.config.mjs

# Ignore deleted .eslintignore since it's no longer used
.eslintignore