footer {
  background-color: var(--footer-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

footer .footer .default-content-wrapper {
  display: flex;
  justify-content: space-between;
}

footer .footer .default-content-wrapper ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20%;
}

footer .footer .default-content-wrapper ul:first-child li br {
  display: none;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
