  .accordion-container .default-content-wrapper h4 {
    color: #00607F;
    margin-bottom: 0;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .accordion details p {
    margin-bottom: 1em;
  }

  .accordion details summary {
    position: relative;
    padding: 0 16px;
    padding-right: 46px;
    cursor: pointer;
    list-style: none;
    overflow: auto;
    transition: background-color 0.2s;
    color: white;
    background-color: #005a76; /* Dark blue background */
  }

  .accordion details summary:hover,
  .accordion details summary:focus {
    background-color: #4C4D4F;
  }

  .accordion details summary::after {
    content: '+';
    position: absolute;
    top: 25%;
    right: 18px;
    width: 6px;
    height: 6px;
  }

  .accordion details[open] summary::after {
    content: '-';
    position: absolute;
    top: 25%;
    right: 18px;
    width: 6px;
    height: 6px;
  }

  .accordion details .accordion-item-body {
    padding: 0 16px;
  }

